@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FFF;
}

.logo-font {
    font-family: "Smooch", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
}


@media (max-width: 768px) {
    .nav-toggle {
        display: block !important;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        text-align: center;
        top: 5rem;
        left: 0;
        width: 100%;
        background-color: #f9f9f9;
        padding: 1rem;
        height: calc(100vh - 89px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .check-it {
        display: none;
    }

    .nav-items li {
        margin: 0 !important;
        padding: 20px 10px;
    }

    .nav-items.show {
        display: flex;
    }


}